<div class="tutorials_listing">
  <h2>Chemistry Tutorials</h2>
  <%= link_to("Add New Chemistry Tutorial", {:action => 'new'}, :class => 'btn btn-primary') %>
  <%= render(:partial => 'table_header') %>
    <tbody>
      <% @chemtuts.each do |chemtut| %>
        <tr>
          <td style="text-align: center;"><%= chemtut.id %></td>
          <td style="text-align: center;"><%= chemtut.title %></td>
          <td style="text-align: center;"><%= chemtut.author_id %></td>
          <td style="text-align: center;"><%= chemtut.permalink %></td>
          <td style="text-align: center;"><%= chemtut.published ? 'Yes' : 'No' %></td>
          <td style="text-align: center;">
            <%= link_to("Show", {:action => 'show', :id => chemtut.id}) %>
          </td>
          <td style="text-align: center;">
            <%= link_to("Edit", {:action => 'edit', :id => chemtut.id}) %>
          </td>
          <td style="text-align: center;">
            <%= link_to("Delete", {:action => 'delete', :id => chemtut.id}) %>
          </td>
        </tr>
      <% end %>
    </tbody>
</div>