<p class="index-action-tuts-introduction">Physics Tutorials</p>
<%= @physicstuts.each do |physicstut| %>
  <div class="index-action-tut-container">
    <p class="index-action-tut-title"><%= physicstut.title %><span class="index-action-tut-upload-info"> Uploaded <%= physicstut.created_at.strftime("%B %d, %Y") %></span></p>
    <p class="index-action-tut-content"><%= chemtut.tut_content %></p>
    <div class="index-action-tut-actions">
      <%= link_to("View", {:action => 'view', :id => physicstut.id}) %>
      <%= link_to("Edit", {:action => 'edit', :id => physicstut.id}) %>
      <%= link_to("Delete", {:action => 'delete', :id => physicstut.id}) %>
    </div>
  </div>
<% end %>
<br />
<%= link_to("Add New Tutorial", {:action => 'new'}, :class => 'button-link') %>